:root{
    --color-white: white;
    --color-gray: rgb(240, 233, 233);
  }
  
  @media screen and (min-width: 768px) {
    
  }
  
  body {
    background-color: var(--color-white);
  }


.App{
    width: 80%;
    margin: auto;
}

.flex-horizontal{
    display: flex;
    flex-direction: row;
}

.date-active{
    border: 1px solid gray;
}

.current-date{
    background-color: green;
}

.pointer:hover{
    cursor: pointer;
}

.form-control{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

table{
    width: 100%;
}

tr{
    height: 40px;
}

.tr-hover:hover{
    background-color: var(--color-gray);
}

.btn{
    padding: 5px;
}

.btn:hover{
    cursor: pointer;
}

.btn-success{
    background-color: green;
    color: white;
}
